Source: cache901
Section: net
Priority: extra
Maintainer: Michael J. Pedersen <m.pedersen@icelus.org>
Build-Depends: debhelper (>= 7), python
Build-Depends-Indep: python-central, python-wxgtk2.8, python-pysqlite2, python-gpsbabel, python-serial
Standards-Version: 3.8.0
Homepage: http://www.cache901.org/
XS-Python-Version: 2.5, 2.6

Package: cache901
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: python (>= 2.5.0), python-wxgtk2.8, python-pysqlite2, python-gpsbabel, python-serial, ${python:Depends}
Recommends: python-psyco
Description: Tool for paperless geocaching
 Cache 901 is a tool for paperless geocaching. A significant number of
 features have come about by now, including the ability to display cache
 locations graphically and the ability to integrate with some online items.
 .
 More features are coming to allow even better integration with various
 sites and tools.
